# The server environment. Recognized environments are ["prod", "dev"].
# Defaults to "prod" if unspecified.
INDIGO_ENV="prod"

# The HMAC512 secret used for signing/verifying JWTs.
# Must be at least 64 chars in length.
INDIGO_SECRET="my_256_bit_secret_in_string_form"

# The URL of your LDAP server.
LDAP_URL="ldaps://ad.example.com:636"

# The search base to use when selecting users.
LDAP_SEARCH_BASE="CN=Users,DC=ad,DC=example,DC=com"

# The username of an LDAP account with permissions to query user information.
LDAP_USERNAME="CN=IndigoService,CN=Users,DC=ad,DC=example,DC=com"

# The service account's password.
LDAP_PASSWORD="correct horse battery staple"

# The domain prefix of your Active Directory instance.
# https://learn.microsoft.com/en-us/windows-server/identity/ad-ds/plan/assigning-domain-names
LDAP_DOMAIN="AD"